
body {
	background-image: url(../img/fondo_calle.jpg);
	background-color: rgba(90,90,90,0.6);
}



.menu {
	background-color: rgb(41,171,226);
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
}

.navbar-item {
	text-align: center;
}

.navbar-link {
	color: white;
}

.navbar-link:hover{
	text-decoration: none;
}

#chart-div {

}

