html, body {
	height: 100%;
}

body {
	max-width: 100%;
}

img {
	height: 10%;
	width: 10%;
}

.img_rotated {
	transform: rotate(90deg);
}

p {
	margin: 0;
}

.nav-menu {
	width: 100%;
}

.menu {
	text-align: center; 
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	background-color: rgba(41,171,226, 0.7);
}

.menu a {
	color: white;
}

.menu a:hover {
	color: white;
}

.content {
	background-image: url('calle.jpg');
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0px;
}

.container-fluid {
	padding: 0;
}

.overlay {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(204,204,204,0.3);
}

.pre-tabla {
	height: 100%;
}

.tabla {
	height: 80%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 20%;
	border-style: solid;
	color: black;
	background-color: rgba(210,210,210,0.7);
	font-size: 20px;
	padding: 0px;
}

.tabla > .row {
	height: 100%;
	margin: auto;
}

.columna_tabla {
	height: 100%;
	padding: 0;
	border-style: solid;
}


.task {
	border-style: solid;
	border-radius: 30px;
	padding: 15px 20px;
	margin: 15px;
	background-color: white;
}

.task_body {
	padding: 15px;
}

.task_item {
	margin-left: 5px;
}





